@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.nav{
    display: flex;
    /* justify-content:space-around ; */
    font-family: "Azeret Mono", monospace;
    font-weight: 800;
    font-size: 28;

}
/* Background img */
#main_sec{
    background-image: url(../assets/Hero-bg.png);
    height:362px;
    text-align: center;
}

.hd_div{
    max-width: 609px;
    max-height: 354px;
    /* justify-content: center; */
    margin: 0 auto;
    padding: 15px 135px 27px; 
    
}
.img1{
    height: 146px;
    width: 146.14px;
}

.hd_hd{
    /* height: 83px; */
    font-family: "Azeret Mono", monospace;
    font-weight: 800;
    font-size: bolder;
    color: #0D1321;
}
.hd_p{
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
    font-size: small;
    color: #0D1321;
    opacity: 0.7;
}
.btn2{
    background-color: #0D1321;
    color: #fff;
    border-radius: 8%;
    border: none;
    width: 149px;
    height: 40px;
}

/* main-content */

.sect_1{
    width: 695px;
    height: 850px;
    margin: 0 auto;
    margin-top: 45px;
    background-color: rgba(248, 248, 248, 0.91);

}
.inner_div{
    padding: 49px 59px;
    max-width: 577px;
    max-height: 752px;
    text-align: center;
}
.div_hd{
    max-width: 520px;
    max-height: 69px;
}
.class_1{
    display: flex;
    justify-content: space-between;
}
.cls1_img{
    width: 167px;
    height: 146.4px;
}
.cls1_content{
    width: 290px;
    height: 134px;
}
.sec1_div1_h3{
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
    font-size: 20;
    color: #0D1321;
    opacity: 0.7;
}
.sec1_div1_p{

}